  /* App.js CSS   */
.navBar {
  margin: 25px;
}

.tabLike {
  padding: 5px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: x-large;
}

.selected {
  color: red;
}

.scroll-horiz {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 10px;
  height: 100px;
  scrollbar-width: 2px;
}


.scroll-box {
  width: 90px;
  height: 90px;
  border: 1px solid grey;
  background: #eee;
  margin-right: 10px;
  display: inline-block;
}

/* Map Component  */
.mapContainer {
  height: 40em;
  width: 55em;
}

.leaflet-container {
  height: 500px;
}