  /* App.js CSS   */
.navBar {
  margin: 5px;
}

.tabLike {
  padding: 5px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: x-large;
}

.selected {
  color: RGB(244,0,0);
}

/* NavBar */

.navBar {
  overflow: hidden;
  background-color: #3333;
  /* position: absolute;
  bottom: 0;
  width: 100%; */
}

.tabLike {
  position: left;
  /* display: block; */
  color: #181717;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
}

.tabLike NavLink:hover {
  background: rgb(244,0,0);
  color: black;
}

.tabLike.selected {
  background-color: rgb(81, 82, 83);
  color: RGB(244,0,0);
}

/* Home Component */

.logoTop {
  display: flex;
  justify-content: center;
  margin-top: 1%;
  padding: 2%;
  background-color: rgb(81, 82, 83);
}

.headerHome {
  color: RGB(244,0,0);
  display: flex;
  justify-content: center;
  margin-top: 2px;
  letter-spacing: 2px;
}

/* Home > Scroll Component */

.scroll-horiz {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 8px;
  height: 100px;
  scrollbar-width: 2px;
}


/* Home > Scroll Component > Scroll Box */

.scroll-box {
  width: 200px;
  height: 90px;
  border: 1px solid grey;
  background: #eee;
  margin-right: 10px;
  display: inline-block;
  background: rgba(182,119,51,0.5) url(https://www.recetas.com/files/article/n/navidad-con-comida-rica-y-sana_puhyd) no-repeat center center;
  background-size: 109%;
  position: relative;
}

.restaurant-name {
  text-align: center;
  overflow:hidden;
  background-color: rgba(0,0,0,0.5);
    color: white;
    position: absolute;
    bottom: -19px;
}
.restaurant-coste {
  color: white;
  text-align: right;
  font-size: 160%;
  font-weight: bold;
  text-shadow: 0px 0px 5px #000,0px 0px 5px #000,0px 0px 5px #000,0px 0px 5px #000;
  padding-right: 5px;
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
}

.menu-coste {
  float: right;
  font-weight: bold;
  font-size: 200%;
}

.menu-imagen {
  width: 200px;
  padding-top: 20px;
}

/* Map Component  */
.mapContainer {
  height: 40em;
  width: 55em;
}

.leaflet-container {
  height: 500px;
}

